@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

}

a{
    text-decoration: none;
    color: inherit;
}

.app{
    min-height: 100vh;
    color: white;
    background: linear-gradient(#0b004e, #1d152f,#002834);
}